CRMSMVCAPP/Connected Services/PackageService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWCFAPI.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWCFAPI.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PackageDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDetails" nillable="true" type="tns:PackageDetails" />
</xs:schema>